
nav {
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    font-size: 20pt;
    padding: 5px 10px;
    text-decoration: none;
}
nav, footer, nav a, footer a {
    background-color: #133854;
    color: white;
    font-size: 20pt;
}
nav a:hover {
    background-color: #0D2840;
}

/* Header styles */
header {
    text-align: center;
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-height: 150px; /* Adjust the max-height as needed */
    margin: 0 10px; /* Adjust the margin as needed */
}

img.rightfloater {
    float: right;
    padding: 20px 20px 0px 0px;
}

img.rightfloater2 {
    float: right;
    padding: 20px 20px 0px 0px;
}

section {
    font-size: 16pt;
}

section img {
    height: 200px;
}

footer {
    text-align: right;
    padding: 10px;
}

address {
    font-style: normal;
}

img.rightfloater {
   float: right;
   padding: 20px 20px 10px 0px; 
}


 .clearfix::after{
    content: "";
    clear: both;
    display: block;

}

footer img{
    height: 100px;
    padding-right: 10px;
    float: left;
}

footer{
    background-color: #133854;
    color: white;
    font-size: 20pt;
}


